{#
/**
 * @file
 * Theme override for main view template.
 */
#}

{# default components #}
{% if header %}
  <div class="view-header">
    {{ header }}
  </div>
{% endif %}

{% if exposed %}
  <div class="view-filters">
    {{ exposed }}
  </div>
{% endif %}

{% if attachment_before %}
  <div class="attachment attachment-before">
    {{ attachment_before }}
  </div>
{% endif %}

{# UPDATED: custom #}
{% if rows %}
  {{ rows }}
{% else %}
  {% set empty_content %}
    <div class="view-empty" style="grid-column: 1 / -1;">
      {{ empty }}
    </div>
  {% endset %}

  {{ include('jakarta:c-grid', {
    title: bestor('in_the_spotlight_title'),
    grid_items: [empty_content],
    columns: 1,
    background_color: 'tertiary',
  }) }}
{% endif %}

{# default components #}
{% if pager %}
  <div class="view-pager">
    {{ pager }}
  </div>
{% endif %}

{% if attachment_after %}
  <div class="attachment attachment-after">
    {{ attachment_after }}
  </div>
{% endif %}

{% if footer %}
  <div class="view-footer">
    {{ footer }}
  </div>
{% endif %}

{% if more %}
  {{ more }}
{% endif %}

{% if feed_icons %}
  <div class="feed-icons">
    {{ feed_icons }}
  </div>
{% endif %}