{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}

{% endif %}
 {{devel_dump(form)}}

<div class="database-filters">

  <div class="database-filters-section">
    <div class="database-filters-row database-filters-row--2">
      <div class="database-filters-field">
        {{ form.full }}
      </div>
      <div class="database-filters-field">
        {{ form.title }}
      </div>
    </div>
  </div>

  <div class="database-filters-section">
    <div class="database-filters-row database-filters-row--3">
      {% if form.discipline is not empty %}
        <div class="database-filters-field">
          {{ form.discipline }}
        </div>
      {% endif %}
      {% if form.specialisation is not empty %}
        <div class="database-filters-field">
          {{ form.specialisation }}
        </div>
      {% endif %}
      {% if form.type is not empty %}
        <div class="database-filters-field">
          {{ form.type }}
        </div>
      {% endif %}
    </div>

    {% block specific_filters %}{% endblock %}

  </div>

  <div class="database-filters-section database-filters-section--relations">
    <div class="database-filters-rel-layout">
      <nav class="database-filters-rel-nav">
        {% for key in ['concept', 'document', 'institution', 'instrument', 'person', 'place', 'story'] %}
          {% if form['rel_' ~ key ~ '_wrapper'] is not empty %}
            <button type="button" class="database-filters-rel-tab {% if loop.first %}is-active{% endif %}" data-target="rel-{{ key }}">
            {{ key|t }}
          </button>
          {% endif %}
        {% endfor %}
      </nav>
      <div class="database-filters-rel-forms">
        {% for key in ['concept', 'document', 'institution', 'instrument', 'person', 'place', 'story'] %}
          {% if form['rel_' ~ key ~ '_wrapper'] is not empty %}
            <div class="database-filters-rel-form {% if loop.first %}is-active{% endif %}" id="rel-{{ key }}">
              {{ form['rel_' ~ key ~ '_wrapper'] }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="database-filters-section">
    <div class="database-filters-row database-filters-row--2">
      {% if form.author is not empty %}
        <div class="database-filters-field">
          {{ form.author }}
        </div>
      {% endif %}
      {% if form.language is not empty %}
        <div class="database-filters-field">
          {{ form.language }}
        </div>
      {% endif %}
    </div>
  </div>

  {{ form.form_build_id }}
  {{ form.form_id }}
  {{ form.form_token }}
  {{ form.actions }}

</div>