{% set attributes = create_attribute() %}

{% set c_name = "c-media-1-item" %}

{% set classes = [
  c_name,
  layout ? cName ~ "--layout-" ~ layout
] %}

<div {{ attributes.addClass(classes) }}>
  {% if title %}
    <div class="{{ c_name ~ '__title h-margin-children-none' }}">
      {{ title }}
    </div>
  {% endif %}
  {% if media %}
    <div class="{{ c_name ~ '__media' }}">
      {{ media }}
    </div>
  {% endif %}
  <div class="{{ c_name ~ '__content' }}">
    {% if subtitle %}
      <div class="{{ c_name ~ '__subtitle' }}">
        {{ subtitle }}
      </div>
    {% endif %}
    {% if text %}
      <div class="{{ c_name ~ '__text h-text-wysiwyg' }}">
        {{ text }}
      </div>
    {% endif %}
    {% if button %}
      <div class="{{ c_name ~ '__button h-margin-top-40' }}">
        {{ button }}
      </div>
    {% endif %}
  </div>
</div>
