{#
/**
 * @file
 * Template for the relationship view field.
 */
#}


-----
<div class="relationship-field">
  {% if relationships %}
    {% if grouped %}
      <div class="grouped-relationships">
        {% for group_name, items in grouped %}
          <div class="relationship-group">
            <h4 class="group-title">{{ group_name|capitalize }}</h4>
            <ul class="group-items">
              {% for item in items %}
                <li class="relationship-item">
                  {% for field_name, field_config in fields %}
                    {% if item[field_name] is defined %}
                      <span class="field field--name-{{ field_name|clean_class }} field--type-{{ field_config.type }}">
                        {% if not field_config.hide_label %}
                          <span class="field-label">{{ field_config.label }}:</span>
                        {% endif %}
                        
                        <span class="field-value">
                          {% if field_config.type == 'id' %}
                            <code>{{ item[field_name] }}</code>
                          {% elseif field_config.type == 'title' %}
                            <strong>{{ item[field_name] }}</strong>
                          {% else %}
                            {{ item[field_name] }}
                          {% endif %}
                        </span>
                      </span>
                    {% endif %}
                  {% endfor %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <ul class="relationships-list">
        {% for item in relationships %}
          <li class="relationship-item">
            {% for field_name, field_config in fields %}
              {% if item[field_name] is defined %}
                <span class="field field--name-{{ field_name|clean_class }} field--type-{{ field_config.type }}">
                  {% if not field_config.hide_label %}
                    <span class="field-label">{{ field_config.label }}:</span>
                  {% endif %}
                  
                  <span class="field-value">
                    {% if field_config.type == 'id' %}
                      <code>{{ item[field_name] }}</code>
                    {% elseif field_config.type == 'title' %}
                      <strong>{{ item[field_name] }}</strong>
                    {% else %}
                      {{ item[field_name] }}
                    {% endif %}
                  </span>
                </span>
              {% endif %}
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% else %}
    <span class="no-relationships">{{ 'No relationships found'|t }}</span>
  {% endif %}
</div>