{% set attributes = create_attribute() %}

{% set c_name = "c-cta" %}

{% set classes = [
  c_name,
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="{{ c_name ~ '__content' }}">
    {% if title %}
      <div class="{{ c_name ~ '__title' }}">
        {{ title }}
      </div>
    {% endif %}
    {% if text %}
      <div class="{{ c_name ~ '__text' }}">
        {{ text }}
      </div>
    {% endif %}
    {% if button %}
      <div class="{{ c_name ~ '__button' }}">
        {{ button }}
      </div>
    {% endif %}
  </div>
</div>
