{#
/**
 * @file
 * Template for the component c-select.
 */
#}

{% set select_classes = [
  'c-select',
]|merge(c_select_utility_classes ?: []) %}

<select {{ attributes.addClass(select_classes) }}>
  {% for option in options %}
    {# Handle option groups #}
    {% if option.type == 'optgroup' %}
      <optgroup label="{{ option.label }}">
        {% for sub_option in option.options %}
          <option value="{{ sub_option.value }}" {{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
        {% endfor %}
      </optgroup>
      {# Handle individual options #}
    {% elseif option.type == 'option' %}
      <option value="{{ option.value }}" {{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
    {% endif %}
  {% endfor %}
</select>

