{#
/**
 * @file
 * Theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{%
set node_classes = [
  'node',
  node.isPromoted() ? 'node-promoted',
  node.isSticky() ? 'node-sticky',
  not node.isPublished() ? 'node-unpublished',
  view_mode ? 'node-view-mode-' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(node_classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}


  <div{{ content_attributes.addClass('node-content clear') }}>
    
    <div class="lemma-header">
      <div class="lemma-metadata">
          <div title="{{ author_label }}" class="lemma-author"><i class="fa-solid fa-pen-fancy"></i>{{content.field_author}}</div>
          <div title="{{ reading_time_label }}" class="reading-time"><i class="fa-regular fa-hourglass-half"></i>{{reading_time}} min</div>
          <div  title="{{ published_label }}" class="publication-date"><i class="fa-solid fa-calendar-plus"></i>{{ node.getCreatedTime|date('j-n-Y') }}</div>
       

      </div>
      <div class="lemma-banner">
        <div class="lemma-image" style="background-color: #828282; background-image: url('{{ image_url }}')">
        </div>
        <div class="lemma-intro">
          {{ content.field_summary }}
        </div>
      </div>
    </div>
    <div class="lemma-body row">
      <div class="lemma-main-content col-md-8">
        {{content.field_description}}
        {% if content.field_geolocation.0 %}
          {{content.field_geolocation}}
        {% endif %}
      </div>
      <div class="lemma-sidebar col-md-4">
      <h2>{{context_label}}</h2>
        {% if content.field_alternative_name.0 %}
          <div class="context-element ce-alt-name">
            <h3 class="context-element-title"><i class="fa-solid fa-signature"></i> {{content.field_alternative_name['#title']}}</h3>
            <div class="context-element-content">
              {{content.field_alternative_name}}
            </div>
          </div>
        {% endif %}
        {% if content.field_period.0 %}
          <div class="context-element ce-time">
            <h3  class="context-element-title"><i class="fa-solid fa-timeline"></i> {{content.field_period['#title']}}</h3>
            <div class="context-element-content">
              <div class="node-taxonomy-container">{{content.field_period}}</div>
            </div>
          </div>
        {% endif %}
        {% if content.field_municipality.0 or content.field_end_municipality.0 %}
          <div class="context-element ce-place">
            <h3 class="context-element-title"><i class="fa-solid fa-globe"></i> {{place_label}}</h3>
            <div class="context-element-content">
              {% if content.field_municipality.0 %}
                <span class="municipality">
                  {{content.field_municipality}}
                </span>
              {% endif %}
              {% if content.field_end_municipality.0 %}
                <span class="separator"><i class="fa-solid fa-arrow-right"></i></span> 
                <span class="end-municipality">
                   {{content.field_end_municipality}}
                </span>
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if content.field_country.0 %}
          <div class="context-element ce-country">
            <h3 class="context-element-title"><i class="fa-regular fa-flag"></i> {{content.field_country['#title']}}</h3>
            <div class="context-element-content">
              {{content.field_country}}
            </div>
          </div>
        {% endif %}
        {% if content.field_gender.0 %}
          <div class="context-element ce-gender">
            <h3 class="context-element-title"><i class="fa-solid fa-mars-and-venus"></i> {{content.field_gender['#title']}}</h3>
            <div class="context-element-content">
              {{content.field_gender}}
            </div>
          </div>
        {% endif %}
        {% if content.field_typology.0 %}
          <div class="context-element ce-typology">
          <h3 class="context-element-title"><i class="fa-solid fa-hashtag"></i> {{content.field_typology['#title']}}</h3>
            <div class="context-element-content">
              {{content.field_typology}}
            </div>
          </div>
        {% endif %}
        {% if content.field_discipline.0 %}
          <div class="context-element ce-discipline">
            <h3 class="context-element-title"><i class="fa-solid fa-microscope"></i> {{content.field_discipline['#title']}}</h3>
            <div class="context-element-content">
              {{content.field_discipline}}
            </div>
          </div>
        {% endif %}
        {% if content.field_specialisation.0 %}
          <div class="context-element ce-specialisation">
            <h3 class="context-element-title"><i class="fa-solid fa-tags"></i> {{content.field_specialisation['#title']}}</h3>
            <div class="context-element-content">
              {{content.field_specialisation}}
            </div>
          </div>
        {% endif %}
        {% if content.field_image.0 %}
          <div class="context-element ce-image">
            <h3 class="context-element-title"><i class="fa-solid fa-camera-retro"></i> {{content.field_image['#title']}}</h3>
            <div class="context-element-content">
              {{content.field_image}}
            </div>
          </div>
        {% endif %}
        {% if content.field_wikidata_entry.0 %}
          <div class="context-element ce-wikidata">
            <h3 class="context-element-title"><i class="fa-solid fa-up-right-from-square"></i> {{content.field_wikidata_entry['#title']}}</h3>
            <div class="context-element-content">
              {{content.field_wikidata_entry}}
            </div>
          </div>
        {% endif %}
        {% if AANVULLEN %}
          <div class="context-element ce-relationship">
            <h3 class="context-element-title"><i class="fa-solid fa-link"></i></h3>
            <div class="context-element-content">
            </div>
          </div>
        {% endif %}       
      </div>
    </div>
  </div>
</article>
