{#
/**
 * @file
 * Footer template.
 *
 * Available variables:
 * - footer_1, footer_2, footer_3, footer_4: Footer region content
 * - footer: Bottom footer region
 */
#}
{#
/**
 * @file
 * Footer template.
 *
 * Available variables:
 * - footer_1, footer_2, footer_3, footer_4: Footer region content
 * - footer: Bottom footer region
 */
#}
<footer class="page-footer">
  <div class="page-footer-main h-bg-color-primary">
    <div class="container">
      <div class="page-footer-grid">
        {# LT Logo + tagline (F1) #}
        <div class="page-footer-col page-footer-col--brand">
          <img src="/themes/custom/jakarta/logo-white.svg" alt="Bestor" class="page-footer-logo">
          {{ footer_1 }}
        </div>
        
        {# RT: Newsletter button (F2) #}
        <div class="page-footer-col page-footer-col--newsletter">
          {{ include('@bestor/components/footer-newsletter.html.twig', {}, with_context = true) }}
          {% if footer_2 %} {{ footer_2 }} {% endif %}
        </div>
        
        {# LB: Menu + copyright + credits (F3) #}
        <div class="page-footer-col page-footer-col--bottom">
          <div class="page-footer-bottom-inner">
            <div class="page-footer-copyright-text">
              &copy; {{ 'now'|date('Y') }}&nbsp;<a href="{{ url('<front>') }}">{{ drupal_config('system.site', 'name') }}</a>
            </div>
            
            <div class="page-footer-bottom-menu">
              {{ footer_3 }}
            </div>
            
            <div class="page-footer-credits">
              Made by <a href="https://www.ghentcdh.ugent.be/" target="_blank">GhentCDH</a> / 
              <a href="https://www.sitetrip.be/" target="_blank">Sitetrip</a> x 
              <a href="https://www.wildbloei.be/" target="_blank">Wildbloei</a>
            </div>
          </div>
        </div>
        
        {# RB: Social media (F4) #}
        <div class="page-footer-col page-footer-col--social">
          {{ include('@bestor/components/footer-socials.html.twig', {}, with_context = true) }}
          {% if footer_4 %} {{ footer_4 }} {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  {# Logos #}
  <div class="page-footer-logos">
    <div class="container">
      {{ footer }}
    </div>
  </div>
</footer>